<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../../admin/header.js"></script>
    <script src="../../../admin/httpVueLoader.js"></script>
</head>
<body>
<div id="cityfl" class="moduleElenAl">
    <div class="moduleSeachs">
        <div class="moduleSeachleft">
			<div class="moduleInptList">
				<el-input placeholder="请输入搜索内容" v-model="keyword" class="input-with-select" clearable>
					<el-select v-model="type" slot="prepend" placeholder="名称">
						<el-option label="名称" value="1"></el-option>
						<el-option label="标识符" value="2"></el-option>
					</el-select>
				</el-input>
			</div>
            <div class="newsbtnbox" style="margin-bottom: 0px;;">
                <el-button type="primary" icon="el-icon-search" size="mini" @click="search">查询</el-button>
            </div>
        </div>
        <div class="nrtopbtn">
            <el-button type="primary" icon="el-icon-document-add" size="mini"
                       @click="edit({id: ''})">添加属性
            </el-button>
        </div>
    </div>
    <div class="moduleElTable">
        <el-table :data="tableData" stripe border
                  style="width: 100%;height: 100%;" :header-cell-style="{ background: '#f5f7fa', color: '#606266' }" height="100%"
                  @selection-change="handleSelectionChange" ref="multipleTable" :default-sort="{ prop: 'id', order: 'descending' }" @sort-change="sortChange" v-loading="loading" :empty-text="emptytext">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column prop="id" label="编号" sortable="custom">
            </el-table-column>
            <el-table-column prop="name" label="名称">
            </el-table-column>
            <el-table-column prop="value" label="调用标识">
            </el-table-column>
            <el-table-column label="操作" width="140" fixed="right">
                <template slot-scope="scope">
                    <div class="cz_button">
                        <el-button size="small " plain @click="edit(scope.row)">修改</el-button>
                        <el-button type="danger" size="small " @click="delrow(scope.row.id)">删除</el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <div class="modulePaging">
        <div class="">
            <el-checkbox v-model="checkedAll" @change="selectAllBottom">全选</el-checkbox>
            <el-button @click="delAllBottom" size="mini">批量删除</el-button>
        </div>
        <div class="modulePagNum">
            <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           :current-page="currentPage" :page-sizes="pageSizes" :page-size="perPage"
                           layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>
    </div>
    <div class="modluDrawer">
        <el-dialog title="属性管理" width="500px" :visible.sync="dialogVisible" :modal-append-to-body="false">
            <div class="hydialog_item">
                <span style="padding-bottom: 5px; overflow: hidden;position: relative;display: block;">属性名称：</span>
                <el-input v-model="curr_data.name" placeholder="请输入内容"></el-input>
            </div>
            <div class="hydialog_item" style="padding-top: 15px;">
                <span style="padding-bottom: 5px; overflow: hidden;position: relative;display: block;">调用标识：</span>
                <el-input v-model="curr_data.value" placeholder="请输入内容"></el-input>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="save" :disabled="submitLoading">{{btntitle}}</el-button>
            </div>
        </el-dialog>
    </div>
</div>
</body>
<script>
    const custoapp = new Vue({
        el: '#cityfl',
        data: function () {
            return {
                emptytext: '暂无数据',
                loading: false,
                type: '1',
                keyword: '',
                tableData: [],
                checkedAll: false,
                selectedItem: [],
                currentPage: 1,
                perPage: 0,
                pageSizes: [],
                total: 0,
                dialogVisible: false,
                curr_data: {},
                sort_type: '',
                sort_col: '',
                islook: false,
				submitLoading: false,
				btntitle:'添加',
                prevPage:0
            }
        },
        created: function () {
            this.getList();
        },
        methods: {
            edit(data){
                if (data.id) {
                    this.curr_data = deepClone(data);
					this.btntitle = '确定';
                } else {
                    this.curr_data = {id: '', name: '', value: ''};
					this.btntitle = '添加';
                }

                this.dialogVisible = true
            },
            sortChange: function (column) {
                if (column.order == 'descending') {
                    this.sort_type = 'desc';
                } else if (column.order == 'ascending') {
                    this.sort_type = 'asc';
                } else {
                    this.sort_type = '';
                }
                this.sort_col = column.prop
                this.search();
            },
            save(){
                var that = this
                var params = that.curr_data
                if (params.name == '') {
                    message.error('请输入名称')
                    return false
                }
                if (params.value == '') {
                    message.error('请输入调用标识')
                    return false
                }
				that.submitLoading = true;
                httpPost('m=neirong&c=news&a=property', params).then(function (response) {
                    if (response.data.error == 0) {
                        message.success(response.data.msg, function(){
                            that.getList();
                            that.dialogVisible = false
                        });
                    } else {
                        message.error(response.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                }).finally(function () {
					that.submitLoading = false;
				});
            },
            handleSelectionChange(val) {
                this.selectedItem = [];
                let _this = this;
                if (val.length) {
                    val.forEach(item => {
                        _this.selectedItem.push(item.id);
                    });
                }
                if (_this.selectedItem.length == 0) {
                    _this.checkedAll = false;
                } else {
                    if (_this.selectedItem.length == _this.tableData.length) {
                        _this.checkedAll = true;
                    } else {
                        _this.checkedAll = false;
                    }
                }
            },
            selectAllBottom(value) {
                value ? this.$refs.multipleTable.toggleAllSelection() : this.$refs.multipleTable.clearSelection();
            },
            handleSizeChange(val) {
                this.perPage = val;
                this.getList()
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.getList()
            },
            search() {
                this.currentPage = 1;
                this.getList();
            },
            async getList() {
                let that = this;
                let params = {
                    page: that.currentPage,
                    pageSize: that.perPage
                }
                if (that.type) {
                    params.type = that.type
                }
                if (that.keyword) {
                    params.keyword = that.keyword
                }
                if (that.sort_type && that.sort_col) {
                    params.order = that.sort_type
                    params.t = that.sort_col
                }
                that.loading = true;
                that.emptytext = "数据加载中";
                httpPost('m=neirong&c=news&a=type', params).then(function (result) {
                    var res = result.data
                    if (res.error == 0) {
                        that.tableData = res.data.list
                        that.perPage = parseInt(res.data.perPage)
                        that.pageSizes = res.data.pageSizes
                        that.total = parseInt(res.data.total)
                        if(that.prevPage != that.currentPage){
                            that.prevPage = that.currentPage;
                            that.$refs.multipleTable.bodyWrapper.scrollTop = 0;
                        }
                        that.loading = false;
                        if (that.tableData.length === 0){
                            that.emptytext = "暂无数据";
                        }
                    }
                }).catch(function (e) {
                    console.log(e)
                })
            },
            delrow(id) {
                delConfirm(this, id, this.delete);
            },
            delAllBottom() {
                if (!this.selectedItem.length) {
					message.error('请选择要删除的数据项');
                    return false;
                }
                delConfirm(this, this.selectedItem, this.delete);
            },
            async delete(id) {
                let that = this;
                let params = {
                    del: id
                };
                httpPost('m=neirong&c=news&a=delpro', params).then(function (response) {
                    if (response.data.error == 0) {
                        message.success('操作成功');
                        that.getList();
                    } else {
                        message.error(response.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                })
            },
        }
    });
</script>

</html>
<style>
    .cell span {
        display: flex;
        align-items: center;
    }
</style>