<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../../../admin/header.js"></script>
    <script src="../../../admin/httpVueLoader.js"></script>
</head>

<body>
    <div id="daohaapp" class="moduleElenAl">
        <div class="moduleSeachs">
            <div class="moduleSeachInpt">
				<el-input placeholder="请输入关键字" style="margin-right: 8px;" v-model="searchOption.keyword" clearable size="small" prefix-icon="el-icon-search">
					<el-select v-model="searchOption.type" slot="prepend" size="small" placeholder="联系人">
					    <el-option label="联系人" value="1"></el-option>
					    <el-option label="反馈内容" value="2"></el-option>
					</el-select>
				</el-input>
                <el-select v-model="searchOption.feedbacktype" style="margin-right: 8px;" size="small" clearable @change="search" placeholder="意见类型">
                    <el-option label="建议" value="1"></el-option>
                    <el-option label="意见" value="2"></el-option>
                    <el-option label="求助" value="3"></el-option>
                    <el-option label="投诉" value="4"></el-option>
                </el-select>
                <el-select v-model="searchOption.feedbacktime" style="margin-right: 8px;" size="small" clearable placeholder="反馈时间" @change="search">
                    <el-option label="今天" value="1"></el-option>
                    <el-option label="最近三天" value="3"></el-option>
                    <el-option label="最近七天" value="7"></el-option>
                    <el-option label="最近半月" value="15"></el-option>
                    <el-option label="最近一个月" value="30"></el-option>
                </el-select>
                <el-select v-model="searchOption.feedbackstatus" size="small" clearable placeholder="处理状态" @change="search">
                    <el-option label="未处理" value="1"></el-option>
                    <el-option label="已处理" value="2"></el-option>
                </el-select>
                <el-button type="primary" size="mini" icon="el-icon-search" @click="search">查询</el-button>
            </div>
        </div>
        <div class="moduleElTable">
            <el-table :data="tableData" border style="width: 100%"
                :header-cell-style="{background:'#f5f7fa',color:'#606266'}" height="100%" @sort-change="shortChange"
                @selection-change="handleSelectionChange" ref="multipleTable" v-loading="loading" :empty-text="emptytext">
                <el-table-column type="selection" width="55">
                </el-table-column>
                <el-table-column prop="id" label="	编号" width="80" sortable="custom">
                </el-table-column>
                <el-table-column prop="infotype_n" label="意见类型">
                </el-table-column>
				<el-table-column prop="username" label="联系人">
				</el-table-column>
                <el-table-column prop="mobile" label="联系手机">
                </el-table-column>
                <el-table-column prop="content" label="反馈内容">
                    <template slot-scope="scope">
                        <el-popover trigger="hover" placement="top" width="300" v-if="scope.row.content_n">
                            <p>{{scope.row.content}}</p>
                            <div slot="reference">
                                <span class="ellipsis">{{scope.row.content_n}}</span>
                            </div>
                        </el-popover>
                        <span v-else>{{scope.row.content}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="ctime_n" label="反馈时间">
                </el-table-column>
                <el-table-column label="处理状态">
                    <template slot-scope="scope">
                        <el-tag type="success" size="small" v-if="scope.row.status==2">已处理</el-tag>
                        <el-tag type="danger" size="small" v-else>未处理</el-tag>
                    </template>
                </el-table-column>
                <el-table-column fixed="right" label="操作" width="140">
                    <template slot-scope="scope">
                        <div class="cz_button">
                            <el-button size="mini" @click="handle(scope.row)">处理</el-button>
                            <el-button size="mini" @click="delrow(scope.row)" type="danger">删除</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="modulePaging">
            <div class="modulecz modulePagButn">
                <el-checkbox v-model="checkedAll" @change="selectAllBottom">全选</el-checkbox>
                <el-button size="mini" @click="delAllBottom">批量删除</el-button>
            </div>
            <div class="modulePagNum">
                <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                   :current-page="page" :page-sizes="pageSizes" :page-size="limit"
                   layout="total, sizes, prev, pager, next, jumper" :total="total">
                </el-pagination>
            </div>
        </div>
        <!-- 处理弹窗 -->
        <div class="modluDrawer">
            <el-dialog title="意见处理" :visible.sync="handleBox" :with-header="true" :modal-append-to-body="false"
                :show-close="true" width="500px">
                <el-form :model="ruleFormHandle" ref="ruleFormHandle" label-width="90px">
                    <el-form-item label="处理状态">
                        <el-radio-group v-model="ruleFormHandle.status">
                            <el-radio label="1">未处理</el-radio>
                            <el-radio label="2">已处理</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="处理说明" prop="content">
                        <el-input type="textarea" :rows="2" v-model="ruleFormHandle.content"></el-input>
                    </el-form-item>

                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="handleBox = false">取 消</el-button>
                    <el-button type="primary" :loading="save_load" @click="submitForm('ruleFormHandle')">确 定</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <!-- script -->
    <script>
        const custoapp = new Vue({
            el: '#daohaapp',
            data: function () {
                return {
                    emptytext: '暂无数据',
                    loading: false,
                    searchOption: {
                        type: '1',
                        feedbacktype: '',
                        feedbacktime: '',
                        feedbackstatus: '',
                        keyword: ''
                    },
                    page: 1,
                    prevPage: 0,
                    limit: 0,
                    list: [],
                    total: 0,
                    pageSizes: [],

                    checkedAll: false,
                    selectedItem: [],
                    handleBox: false,
                    tableData: [],
                    ruleFormHandle: {
                        status: '',
                        content: '',
                        id: ''
                    },

					save_load:false,
                }
            },
            created() {
                var that = this
                let query = window.parent.homeapp.$route.query;
                if (query.status) {
                    that.searchOption.feedbackstatus = query.status;
                }

                this.getList();
            },
            methods: {
                shortChange(e) {
                    let orderMap = {ascending: 'asc', descending: 'desc'}
                    this.searchOption.t = e.order ? e.prop : null;
                    this.searchOption.order = orderMap[e.order];
                    this.search();
                },
                handle(row) {
                    this.ruleFormHandle.status = row.status;
                    this.ruleFormHandle.content = row.handlecontent;
                    this.ruleFormHandle.id = row.id;
                    this.handleBox = true;
                },
                async submitForm(formName) {
                    let that = this,
                        params = this.$data[formName];
					that.save_load = true;
                    httpPost('m=system&c=info_feedback&a=status', params).then(function (data) {
						that.save_load = false;
                        let res = data.data;
                        if (res.error == 0) {
                            message.success(res.msg, function () {
                                that.handleBox = false;
                                that.getList();
                            })
                        } else {
                            message.error(res.msg);
                        }
                    }).catch(function (error) {
                        console.log(error)
                    })
                },
                search() {
                    this.page = 1;
                    this.getList();
                },
                async getList() {
                    let that = this;

                    let searchOption = that.searchOption;
                    let params = {
                            page: that.page,
                            pageSize: that.limit,
                        };
                    that.loading = true;
                    that.emptytext = "数据加载中";
                    httpPost('m=system&c=info_feedback&a=index', {...params, ...searchOption}, {hideloading: true}).then(function (data) {
                        let res = data.data;
                        if (res.error == 0) {
                            that.tableData = res.data.list;
                            if (that.prevPage != that.page) {
                                that.prevPage = that.page;
                                that.$refs.multipleTable.bodyWrapper.scrollTop = 0;
                            }
                            that.loading = false;
                            that.total = parseInt(res.data.total);
                            that.pageSizes = res.data.pageSizes;
                            that.limit = parseInt(res.data.pageSize);
                            if (that.page > res.data.page) {
                                that.page = parseInt(res.data.page); // 最后一页被删除后，取最新的页数
                            }
                            if (that.tableData.length === 0){
                                that.emptytext = "暂无数据";
                            }
                        }
                    }).catch(function (error) {
                        console.log(error)
                    })
                },
                handleSizeChange(val) {
                    this.limit = val;
                    this.getList();
                },
                handleCurrentChange(val) {
                    this.page = val;
                    this.getList();
                },
                selectAllBottom(value) {
                    value ? this.$refs.multipleTable.toggleAllSelection() : this.$refs.multipleTable.clearSelection();
                },
                handleSelectionChange(val) {
                    this.selectedItem = [];
                    let _this = this;
                    if (val.length) {
                        val.forEach(item => {
                            _this.selectedItem.push(item.id);
                        });
                    }
                    if (_this.selectedItem.length == 0) {
                        _this.checkedAll = false;
                    } else {
                        if (_this.selectedItem.length == _this.tableData.length) {
                            _this.checkedAll = true;
                        } else {
                            _this.checkedAll = false;
                        }
                    }
                },
                delrow(row) {
                    delConfirm(this, row.id, this.delete);
                },
                delAllBottom() {
                    if (!this.selectedItem.length) {
                        this.$message({ showClose: true, message: '请选择要删除的数据', type: 'warning' });
                        return false;
                    }
                    delConfirm(this, this.selectedItem, this.delete);
                },
                async delete(Ids) {
                    let _this = this;
                    let params = {
                        del: Ids
                    };
                    httpPost('m=system&c=info_feedback&a=del', params).then(function (response) {
                        if (response.data.error == 0) {
                            message.success('操作成功');
                            _this.getList();
                        } else {
                            message.error(response.data.msg);
                        }
                    }).catch(function (error) {
                        console.log(error);
                    })
                },

            }
        });
    </script>
</body>

</html>