<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../../../admin/header.js"></script>
    <script src="../../../admin/httpVueLoader.js"></script>
</head>

<body>
    <div id="daohaapp" class="moduleElenAl">
        <div class="moduleSeachs">
            <div class="moduleSeachInpt">
				<el-input placeholder="请输入内容" v-model="searchOption.keyword" clearable size="small" style="margin-right: 8px;" prefix-icon="el-icon-search">
                    <el-select v-model="searchOption.type" size="small" slot="prepend" @clear="search" placeholder="用户名">
                        <el-option label="用户名" value="1"></el-option>
                        <el-option label="内容" value="2"></el-option>
                        <el-option label="用户ID" value="3"></el-option>
                    </el-select>
				</el-input>
                <el-select v-model="searchOption.ectime" size="small" style="margin-right: 8px;" clearable @change="search" placeholder="发布时间">
                    <el-option label="今天" value="1"></el-option>
                    <el-option label="最近三天" value="3"></el-option>
                    <el-option label="最近七天" value="7"></el-option>
                    <el-option label="最近半月" value="15"></el-option>
                    <el-option label="最近一个月" value="30"></el-option>
                </el-select>
                <el-button type="primary" size="mini" icon="el-icon-search" @click="search">查询</el-button>
            </div>
            <div class="tableSeachInpt tableSeachbutton">
                <el-button type="primary" icon="el-icon-document-add" size="mini" plain @click="dialogFaSong = true">发送系统消息</el-button>
            </div>
        </div>
        <div class="moduleElTable">
            <el-table :data="tableData" border style="width: 100%"
                :header-cell-style="{background:'#f5f7fa',color:'#606266'}" height="100%" @sort-change="shortChange"
                @selection-change="handleSelectionChange" ref="multipleTable" v-loading="loading" :empty-text="emptytext">
                <el-table-column type="selection" width="55">
                </el-table-column>
                <el-table-column prop="id" label="	编号" width="80" sortable="custom">
                </el-table-column>
                <el-table-column prop="fa_uid" label="用户ID" width="100">
                </el-table-column>

                <el-table-column prop="username" label=" 用户名" width="130">
                </el-table-column>
                <el-table-column label="内容">
                    <template slot-scope="scope">
                        <span class="content_all" v-html="scope.row.content_all"></span>
                    </template>
                </el-table-column>
                <el-table-column prop="ctime_n" label="时间" width="180">
                </el-table-column>
                <el-table-column fixed="right" label="操作" width="80">
                    <template slot-scope="scope">
                        <div class="cz_button">
                            <el-button size="mini" @click="delrow(scope.row)" type="danger">删除</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="modulePaging">
            <div class="modulecz modulePagButn">
                <el-checkbox v-model="checkedAll" @change="selectAllBottom">全选</el-checkbox>
                <el-button size="mini" @click="delAllBottom">批量删除</el-button>
            </div>
            <div class="modulePagNum">
                <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                   :current-page="page" :page-sizes="pageSizes" :page-size="limit"
                   layout="total, sizes, prev, pager, next, jumper" :total="total">
                </el-pagination>
            </div>
        </div>
        <div class="modluDrawer">
            <el-dialog title="发送系统消息" :visible.sync="dialogFaSong" width="500px" :modal-append-to-body="false">
                <el-form :model="ruleFormFaSong" ref="ruleFormFaSong" label-width="130px">
                    <el-form-item label="用户身份">
                        <el-radio-group v-model="ruleFormFaSong.utype" @input="selectRadio">
                            <el-radio :label="1">个人用户</el-radio>
                            <el-radio :label="2">企业用户</el-radio>
                            <el-radio :label="5">自定义用户</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="用户名" v-if="user">
                        <el-input type="text" v-model="ruleFormFaSong.userarr" placeholder="多个用户请用,(半角)隔开">
                        </el-input>
                    </el-form-item>
                    <el-form-item label="信息内容" prop="content">
                        <el-input type="textarea" v-model="ruleFormFaSong.content"></el-input>
                    </el-form-item>

                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button type="primary" :loading="save_load" @click="checkForm('ruleFormFaSong')">发 送</el-button>
                </span>
            </el-dialog>
        </div>
    </div>
    <!-- script -->
    <script>
        const custoapp = new Vue({
            el: '#daohaapp',
            data: function () {
                return {
                    emptytext: '暂无数据',
                    loading: false,
                    checkedAll: false,
                    tableData: [],
                    selectedItem: [],
                    dialogFaSong: false,
                    ruleFormFaSong: {
                        content: '',
                        utype: '',
                        userarr: ''
                    },
                    user: false,
                    searchOption: {
                        type: '1',
                        ectime: '',
                        keyword: '',
                    },
                    page: 1,
                    prevPage: 0,
                    limit: 0,
                    list: [],
                    total: 0,
                    pageSizes: [],

					save_load:false,
                }
            },
            created() {
                this.getList();
            },
            methods: {
                shortChange(e) {
                    let orderMap = {ascending: 'asc', descending: 'desc'}
                    this.searchOption.t = e.order ? e.prop : null;
                    this.searchOption.order = orderMap[e.order];
                    this.search();
                },
                selectRadio(e) {
                    if (e == 5) {
                        this.user = true;
                    } else {
                        this.user = false;
                    }
                },
                search() {
                    this.page = 1;
                    this.getList();
                },
                async getList() {
                    let that = this;
                    let searchOption = that.searchOption;
                    let params = {
                            page: that.page,
                            pageSize: that.limit,
                            end: that.searchOption.ectime
                        };
                    that.loading = true;
                    that.emptytext = "数据加载中";
                    httpPost('m=system&c=info_systeminfo&a=index', {...params, ...searchOption}, {hideloading: true}).then(function (data) {
                        let res = data.data;
                        if (res.error == 0) {
                            that.tableData = res.data.list;
                            if (that.prevPage != that.page) {
                                that.prevPage = that.page;
                                that.$refs.multipleTable.bodyWrapper.scrollTop = 0;
                            }
                            that.loading = false;
                            that.total = parseInt(res.data.total);
                            that.pageSizes = res.data.pageSizes;
                            that.limit = parseInt(res.data.pageSize);
                            if (that.page > res.data.page) {
                                that.page = parseInt(res.data.page); // 最后一页被删除后，取最新的页数
                            }
                            if (that.tableData.length === 0){
                                that.emptytext = "暂无数据";
                            }
                        }
                    }).catch(function (error) {
                        console.log(error)
                    })
                },
                selectAllBottom(value) {
                    value ? this.$refs.multipleTable.toggleAllSelection() : this.$refs.multipleTable.clearSelection();
                },
                handleSizeChange(val) {
                    this.limit = val;
                    this.getList();
                },
                handleCurrentChange(val) {
                    this.page = val;
                    this.getList();
                },
                delrow(row) {
                    delConfirm(this, row.id, this.delete);
                },
                delAllBottom() {
                    if (!this.selectedItem.length) {
                        this.$message({ showClose: true, message: '请选择要删除的数据', type: 'warning' });
                        return false;
                    }
                    delConfirm(this, this.selectedItem, this.delete);
                },
                async delete(Ids) {
                    let _this = this;
                    let params = {
                        del: Ids
                    };
                    httpPost('m=system&c=info_systeminfo&a=del', params).then(function (response) {
                        if (response.data.error == 0) {
                            message.success('操作成功');
                            _this.getList();
                        } else {
                            message.error(response.data.msg);
                        }
                    }).catch(function (error) {
                        console.log(error);
                    })
                },
                handleSelectionChange(val) {
                    this.selectedItem = [];
                    let _this = this;
                    if (val.length) {
                        val.forEach(item => {
                            _this.selectedItem.push(item.id);
                        });
                    }
                    if (_this.selectedItem.length == 0) {
                        _this.checkedAll = false;
                    } else {
                        if (_this.selectedItem.length == _this.tableData.length) {
                            _this.checkedAll = true;
                        } else {
                            _this.checkedAll = false;
                        }
                    }
                },
                checkForm(formName) {
                    let that = this,
                        params = this.$data[formName];
                    if (params.utype == '') {
                        message.error('请选择用户身份');
                        return false;
                    } else if (params.utype == 5 && params.userarr == '') {
                        message.error('请填写用户名');
                        return false;
                    }
                    if (params.content == '') {
                        message.error('请填写信息内容');
                        return false;
                    }
                    that.submitForm(1, '发送中', 3, params)
                },
                async submitForm(page, msg, status, params) {
                    let that = this;
                    if (status == 3) {
                        params.page = page;
						that.save_load = true;
                        httpPost('m=system&c=info_systeminfo&a=sendSys', params).then(function (response) {
							that.save_load = false;
                            let data = response.data
                            if (typeof data.page === 'undefinded') {
                                var newpage = 1;
                            } else {
                                var newpage = data.page;
                            }
                            that.submitForm(newpage, data.msg, data.error, params);
                        }).catch(function (error) {
                            console.log(error);
                        })
                    } else if (status == 1) {
                        that.dialogFaSong = false;
                        message.error(msg);
						that.search();
                    } else {
                        that.dialogFaSong = false;
                        message.success(msg);
						that.search();
                    }

                }
            }
        });
    </script>
    <style scoped>
        .content_all a{
            color: #409eff
        }
    </style>
</body>

</html>