<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../../../admin/header.js"></script>
    <script src="../../../admin/httpVueLoader.js"></script>
</head>

<body>
<div id="regSetApp" class="tableDome">
    <div class="zhuceTable">
        <table class="tableVue">
            <thead>
            <tr align="left">
                <th width="180">名称</th>
                <th width="560">状态</th>
                <th>说明</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="TableTite">网站开启注册</div>
                </td>
                <td>
                    <div class="TableButn">
                        <el-radio v-model="config.reg_user_stop" label="1">开启</el-radio>
                        <el-radio v-model="config.reg_user_stop" label="2">关闭</el-radio>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span>手机浏览器访问网址跳转到WAP端显示</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="TableTite">注册方式</div>
                </td>
                <td>
                    <div class="TableButn">
                        <el-radio v-model="config.sy_reg_type" label="1">先注册，后选身份</el-radio>
                        <el-radio v-model="config.sy_reg_type" label="2">先选身份，后注册</el-radio>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span>默认保持原有注册方式</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="TableTite">注册类型</div>
                </td>
                <td>
                    <div class="TableButn">
                        <el-checkbox v-model="config.reg_moblie">手机注册</el-checkbox>
                        <el-checkbox v-model="config.reg_email">邮箱注册</el-checkbox>
                        <el-checkbox v-model="config.reg_user">用户名注册</el-checkbox>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="TableTite">注册设置</div>
                </td>
                <td>
                    <div class="TableButn">
                        <el-checkbox v-model="config.reg_passconfirm">密码确认</el-checkbox>
                        <el-checkbox v-model="config.reg_real_name_check">实名认证</el-checkbox>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span></span>
                    </div>
                </td>
            </tr>
            <tr v-if="config.reg_user==1">
                <td>
                    <div class="TableTite">用户名长度</div>
                </td>
                <td>
                    <div class="youdandawei">
                        <div class="jianlidian">
                            <div class="TableInpt">
                                <el-input type="number" v-model="config.sy_reg_nameminlen" min="6"></el-input>
                            </div>
                            <div class="hxian"></div>
                            <div class="TableInpt">
                                <el-input type="number" v-model="config.sy_reg_namemaxlen" max="100"></el-input>
                            </div>
                        </div>
                        <div class="danwei">位</div>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span></span>
                    </div>
                </td>
            </tr>
            <tr v-if="config.reg_user==1">
                <td>
                    <div class="TableTite">用户名复杂度</div>
                </td>
                <td>
                    <div class="TableButn">
                        <el-checkbox v-model="config.reg_name_num">数字</el-checkbox>
                        <el-checkbox v-model="config.reg_name_zm">字母</el-checkbox>
                        <el-checkbox v-model="config.reg_name_sp">其它符号@!#￥-_</el-checkbox>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span>提示：设置必须包含的项。</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="TableTite">密码复杂度</div>
                </td>
                <td>
                    <div class="TableButn">
                        <el-checkbox v-model="config.reg_pw_num">数字</el-checkbox>
                        <el-checkbox v-model="config.reg_pw_zm">字母</el-checkbox>
                        <el-checkbox v-model="config.reg_pw_sp">其它符号@!#￥-_</el-checkbox>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span>提示：设置必须包含的项。</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="TableTite">邮件默认后缀</div>
                </td>
                <td>
                    <div class="TableInpt">
                        <el-input placeholder="请输入内容" type="textarea" :rows="4" v-model="config.sy_def_email"></el-input>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span>多个用|(竖线)隔开,例：@qq.com|@163.com</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="TableTite">同一IP注册间隔</div>
                </td>
                <td>
                    <div class="TableInpt">
                        <el-input v-model="config.sy_reg_interval" type="number" min="0">
                            <span slot="suffix" class="slotspan">小时</span>
                        </el-input>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span>提示：0为不限，其他数字为间隔时间。</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="TableTite">邀请注册限制</div>
                </td>
                <td>
                    <div class="TableInpt">
                        <el-input v-model="config.sy_reg_invite" type="number" min="0">
                            <span slot="suffix" class="slotspan">次</span>
                        </el-input>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span>提示：每个账户每天邀请注册上限，0为不限，仅限制邮件邀请，防止恶意利用。</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="TableTite">限制注册用户名</div>
                </td>
                <td>
                    <div class="TableItags">
                        <el-tag :key="tag" v-for="tag in regconfig.regname" closable :disable-transitions="false" @close="handleClose(tag,'regname')">{{tag}}</el-tag>
                        <el-input class="input-new-tag" v-if="regnameinput" v-model="inputValue" ref="saveTagregname" size="small" @keyup.enter.native="$event.target.blur()" @blur="handleInputConfirm('regname')"></el-input>
                        <el-button v-else class="button-new-tag" size="small" @click="showInput('regname')">添加</el-button>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span>回车确定输入内容，点击下方保存按钮后生效。<br>被创建的用户名，不允许注册。</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="TableTite">禁止手机号段</div>
                </td>
                <td>
                    <div class="TableItags">
                        <el-tag :key="tag" v-for="tag in regconfig.mobile_number" closable :disable-transitions="false" @close="handleClose(tag,'mobile_number')">{{tag}}</el-tag>
                        <el-input type="number" class="input-new-tag" v-if="mobile_numberinput" v-model="inputValue" ref="saveTagmobile_number" size="small" @keyup.enter.native="$event.target.blur()" @blur="handleInputConfirm('mobile_number')"></el-input>
                        <el-button v-else class="button-new-tag" size="small" @click="showInput('mobile_number')">添加</el-button>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span>回车确定输入内容，点击下方保存按钮后生效。<br>被禁止的手机号段，不允许手机注册:如: 170/171/165/167，此四个号段为虚拟号段，建议禁止。</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="TableTite">手机号白名单</div>
                </td>
                <td>
                    <div class="TableItags">
                        <el-tag :key="tag" v-for="tag in regconfig.mobile_white" closable :disable-transitions="false" @close="handleClose(tag,'mobile_white')">{{tag}}</el-tag>
                        <el-input class="input-new-tag" v-if="mobile_whiteinput" v-model="inputValue" ref="saveTagmobile_white" size="small" @keyup.enter.native="$event.target.blur()" @blur="handleInputConfirm('mobile_white')"></el-input>
                        <el-button v-else class="button-new-tag" size="small" @click="showInput('mobile_white')">添加</el-button>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span>回车确定输入内容。<br>手机号白名单不受【禁止的手机号段】限制。</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="TableTite">手机号黑名单</div>
                </td>
                <td>
                    <div class="TableItags">
                        <el-tag :key="tag" v-for="tag in regconfig.mobile_black" closable :disable-transitions="false" @close="handleClose(tag,'mobile_black')">{{tag}}</el-tag>
                        <el-input class="input-new-tag" v-if="mobile_blackinput" v-model="inputValue" ref="saveTagmobile_black" size="small" @keyup.enter.native="$event.target.blur()" @blur="handleInputConfirm('mobile_black')"></el-input>
                        <el-button v-else class="button-new-tag" size="small" @click="showInput('mobile_black')">添加</el-button>
                    </div>
                </td>
                <td>
                    <div class="TableShuom">
                        <span>回车确定输入内容。<br>被创建的黑名单手机号，不允许注册。</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="setBasicButn" style="border: none;">
        <el-button type="primary" size="medium" @click="submitForm" :disabled="saveLoading">提交</el-button>
    </div>
</div>
<script>
    const regSetApp = new Vue({
        el: '#regSetApp',
        data: function () {
            return {
                config: {},
                regconfig: [],
                regnameinput: false,
                mobile_numberinput: false,
                mobile_whiteinput: false,
                mobile_blackinput: false,
                inputValue: '',
                saveLoading: false
            }
        },
        created() {
            this.getList();
        },
        methods: {
            async submitForm() {
                let that = this;
                let formData = {};
                if (that.config.reg_user_stop == '') {
                    that.config.reg_user_stop = 1;
                }
                if (that.config.sy_reg_type == '') {
                    that.config.sy_reg_type = 1;
                }
                formData['reg_user_stop'] = that.config.reg_user_stop;
                formData['sy_reg_type'] = that.config.sy_reg_type;
                formData['reg_moblie'] = that.config.reg_moblie == true ? 1 : 0;
                formData['reg_email'] = that.config.reg_email == true ? 1 : 0;
                formData['reg_user'] = that.config.reg_user == true ? 1 : 0;
                formData['sy_reg_nameminlen'] = parseInt(that.config.sy_reg_nameminlen);
                formData['sy_reg_namemaxlen'] = parseInt(that.config.sy_reg_namemaxlen);
                if (formData.reg_moblie == 1 && (that.config.sy_msg_appkey == '' || that.config.sy_msg_appsecret == '' || that.config.sy_msg_isopen != 1)) {
                    message.error('还没有配置短信，请先配置！', function () {
                        location.reload();
                    });
                    return false;
                }
                if (formData.reg_email == 1 && that.config.sy_email_set != 1) {
                    message.error('还没有配置邮箱，请先配置！', function () {
                        location.reload();
                    });
                    return false;
                }
                if (formData.reg_user_stop == 1 && formData.reg_user == 0 && formData.reg_mobile == 0 && formData.reg_email == 0) {
                    message.error('开启网站注册时，‘手机注册’、‘email注册’、‘用户名注册’最少应开启一项!');
                    return false;
                }
                if (formData.reg_user == 1) {
                    if (formData.sy_reg_nameminlen == 0 || formData.sy_reg_namemaxlen == 0 || formData.sy_reg_nameminlen == '' || formData.sy_reg_namemaxlen == '') {
                        message.error('用户名长度需大于0!');
                        return false;
                    } else if (formData.sy_reg_namemaxlen <= formData.sy_reg_nameminlen) {
                        message.error('用户名长度最大值应大于最小值!');
                        return false;
                    }
                }
                formData['reg_name_num'] = that.config.reg_name_num == true ? 1 : 0;
                formData['reg_name_zm'] = that.config.reg_name_zm == true ? 1 : 0;
                formData['reg_name_sp'] = that.config.reg_name_sp == true ? 1 : 0;
                formData['reg_pw_num'] = that.config.reg_pw_num == true ? 1 : 0;
                formData['reg_pw_zm'] = that.config.reg_pw_zm == true ? 1 : 0;
                formData['reg_pw_sp'] = that.config.reg_pw_sp == true ? 1 : 0;
                formData['reg_passconfirm'] = that.config.reg_passconfirm == true ? 1 : 0;
                formData['reg_real_name_check'] = that.config.reg_real_name_check == true ? 1 : 0;
                formData['sy_def_email'] = that.config.sy_def_email;
                formData['sy_reg_interval'] = that.config.sy_reg_interval;
                formData['sy_reg_invite'] = that.config.sy_reg_invite;
                formData['regname'] = JSON.stringify(that.regconfig.regname);
                formData['mobile_number'] = JSON.stringify(that.regconfig.mobile_number);
                formData['mobile_white'] = JSON.stringify(that.regconfig.mobile_white);
                formData['mobile_black'] = JSON.stringify(that.regconfig.mobile_black);
                formData['config'] = 1;
                that.saveLoading = true;
                httpPost('m=system&c=set_regset&a=save', formData).then(function (response) {
                    var res = response.data;
                    if (res.error == 0) {
                        message.success(res.msg, function () {
                            that.getList();
                        });
                    } else {
                        message.error(res.msg);
                    }
                }).finally(function () {
                    setTimeout(function () {
                        that.saveLoading = false;
                    }, 2000);
                });
            },
            async getList() {
                let that = this;
                let param = {};

                httpPost('m=system&c=set_regset&a=index', param).then(function (response) {
                    let res = response.data;
                    if (res.error == 0) {
                        that.config = res.data.config;
                        that.regconfig = res.data.regconfig;

                        that.config.reg_passconfirm = that.config.reg_passconfirm == 1 ? true : false;
                        that.config.reg_real_name_check = that.config.reg_real_name_check == 1 ? true : false;
                        that.config.reg_moblie = that.config.reg_moblie == 1 ? true : false;
                        that.config.reg_email = that.config.reg_email == 1 ? true : false;
                        that.config.reg_user = that.config.reg_user == 1 ? true : false;
                        that.config.reg_name_num = that.config.reg_name_num == 1 ? true : false;
                        that.config.reg_name_zm = that.config.reg_name_zm == 1 ? true : false;
                        that.config.reg_name_sp = that.config.reg_name_sp == 1 ? true : false;
                        that.config.reg_pw_num = that.config.reg_pw_num == 1 ? true : false;
                        that.config.reg_pw_zm = that.config.reg_pw_zm == 1 ? true : false;
                        that.config.reg_pw_sp = that.config.reg_pw_sp == 1 ? true : false;

                        that.regconfig.regname = res.data.regconfig.regname?res.data.regconfig.regname:[];
                        that.regconfig.mobile_number = res.data.regconfig.mobile_number?res.data.regconfig.mobile_number:[];
                        that.regconfig.mobile_white = res.data.regconfig.mobile_white?res.data.regconfig.mobile_white:[];
                        that.regconfig.mobile_black = res.data.regconfig.mobile_black?res.data.regconfig.mobile_black:[];
                    }
                }).catch(function (error) {
                    console.log(error)
                })
            },
            handleClose(tag, name) {
                if (name == 'regname') {
                    this.regconfig.regname.splice(this.regconfig.regname.indexOf(tag), 1);
                } else if (name == 'mobile_number') {
                    this.regconfig.mobile_number.splice(this.regconfig.mobile_number.indexOf(tag), 1);
                } else if (name == 'mobile_white') {
                    this.regconfig.mobile_white.splice(this.regconfig.mobile_white.indexOf(tag), 1);
                } else if (name == 'mobile_black') {
                    this.regconfig.mobile_black.splice(this.regconfig.mobile_black.indexOf(tag), 1);
                }
            },
            showInput(name) {
                this.inputValue = '';
                if (name == 'regname') {
                    this.regnameinput = true;
                    this.$nextTick(_ => {
                        this.$refs.saveTagregname.$refs.input.focus();
                    });
                } else if (name == 'mobile_number') {
                    this.mobile_numberinput = true;
                    this.$nextTick(_ => {
                        this.$refs.saveTagmobile_number.$refs.input.focus();
                    });
                } else if (name == 'mobile_white') {
                    this.mobile_whiteinput = true;
                    this.$nextTick(_ => {
                        this.$refs.saveTagmobile_white.$refs.input.focus();
                    });
                } else if (name == 'mobile_black') {
                    this.mobile_blackinput = true;
                    this.$nextTick(_ => {
                        this.$refs.saveTagmobile_black.$refs.input.focus();
                    });
                }
            },
            handleInputConfirm(name) {
                let inputValue = this.inputValue;
                if (name == 'regname') {
                    this.regnameinput = false;
                    if (inputValue) {
                        if (this.regconfig.regname.indexOf(inputValue) != -1) {
                            message.warning('该用户名已存在');
                        } else {
                            this.regconfig.regname.push(inputValue);
                        }
                    }
                } else if (name == 'mobile_number') {
                    this.mobile_numberinput = false;
                    if (inputValue) {
                        if (this.regconfig.mobile_number.indexOf(inputValue) != -1) {
                            message.warning('该号码段已存在');
                        } else {
                            this.regconfig.mobile_number.push(inputValue);
                        }
                    }
                } else if (name == 'mobile_white') {
                    this.mobile_whiteinput = false;
                    if (inputValue) {
                        if (!isjsMobile(inputValue)){
                            message.warning('请填写正确的手机号码');
                        }else if (this.regconfig.mobile_white.indexOf(inputValue) != -1) {
                            message.warning('该手机已经在白名单中');
                        } else if (this.regconfig.mobile_black.indexOf(inputValue) != -1) {
                            message.warning('该手机已经在黑名单中,不能添加到白名单');
                        } else {
                            this.regconfig.mobile_white.push(inputValue);
                        }
                    }
                } else if (name == 'mobile_black') {
                    this.mobile_blackinput = false;
                    if (inputValue) {
                        if (!isjsMobile(inputValue)){
                            message.warning('请填写正确的手机号码');
                        }else if (this.regconfig.mobile_black.indexOf(inputValue) != -1) {
                            message.warning('该手机已经在黑名单中');
                        } else if (this.regconfig.mobile_white.indexOf(inputValue) != -1) {
                            message.warning('该手机已经在白名单中,不能添加到黑名单');
                        } else {
                            this.regconfig.mobile_black.push(inputValue);
                        }
                    }
                }
            }
        }
    });
</script>
</body>
</html>