<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={UC_CHARSET}" />
<title>UCenter {lang title_name}</title>
<link rel="stylesheet" href="images/admincp.css" type="text/css" media="all" />
<meta content="Discuz! Team" name="Copyright" />
</head>
<body scroll="no">
<table cellpadding="0" cellspacing="0" width="100%" height="100%">
	<tr>
		<td rowspan="2" width="160"><iframe src="{UC_ADMINSCRIPT}?m=frame&a=menu&sid=$sid" name="menu" target="main" width="160" height="100%" scrolling="no" frameborder="0"></iframe></td>
		<td valign="top" height="30"><iframe src="{UC_ADMINSCRIPT}?m=frame&a=header&sid=$sid" name="header" width="100%" height="30" scrolling="no" frameborder="0"></iframe></td></tr>
	</tr>
	<tr>
		<td valign="top"><iframe src="$mainurl" name="main" width="100%" height="100%" frameborder="0" scrolling="yes" style="overflow:visible;"></iframe></td>
	</tr>
</table>
</body>
</html>