<li><a href="{UC_ADMINSCRIPT}?m=frame&a=main" target="main" class="tabon">{lang menu_index}</a></li>
<!--{if $user['isfounder'] || $user['allowadminsetting']}--><li><a href="{UC_ADMINSCRIPT}?m=setting&a=ls" target="main">{lang menu_basic_setting}</a></li><!--{/if}-->
<!--{if $user['isfounder'] || $user['allowadminsetting']}--><li><a href="{UC_ADMINSCRIPT}?m=field&a=ls" target="main">{lang menu_field_setting}</a></li><!--{/if}-->
<!--{if $user['isfounder'] || $user['allowadminapp']}--><li><a href="{UC_ADMINSCRIPT}?m=app&a=ls" target="main">{lang menu_application}</a></li><!--{/if}-->
<!--{if $user['isfounder'] || $user['allowadminapp']}--><li><a href="{UC_ADMINSCRIPT}?m=restful&a=index" target="main">{lang menu_restful_setting}</a></li><!--{/if}-->
<!--{if $user['isfounder'] || $user['allowadminuser']}--><li><a href="{UC_ADMINSCRIPT}?m=user&a=ls" target="main">{lang menu_manager_user}</a></li><!--{/if}-->
<!--{if $user['isfounder']}--><li><a href="{UC_ADMINSCRIPT}?m=admin&a=ls" target="main">{lang menu_admin_user}</a></li><!--{/if}-->
<!--{if $user['isfounder'] || $user['allowadminpm']}--><li><a href="{UC_ADMINSCRIPT}?m=pm&a=ls" target="main">{lang menu_pm}</a></li><!--{/if}-->
<!--{if $user['isfounder'] || $user['allowadmincredits']}--><li><a href="{UC_ADMINSCRIPT}?m=credit&a=ls" target="main">{lang menu_credit_exchange}</a></li><!--{/if}-->
<!--{if $user['isfounder'] || $user['allowadminbadword']}--><li><a href="{UC_ADMINSCRIPT}?m=badword&a=ls" target="main">{lang menu_censor_word}</a></li><!--{/if}-->
<!--{if $user['isfounder'] || $user['allowadmindomain']}--><li><a href="{UC_ADMINSCRIPT}?m=domain&a=ls" target="main">{lang menu_domain_list}</a></li><!--{/if}-->
<!--{if $user['isfounder'] || $user['allowadmindb']}--><li><a href="{UC_ADMINSCRIPT}?m=db&a=ls" target="main">{lang menu_db}</a></li><!--{/if}-->
<!--{if $user['isfounder']}--><li><a href="{UC_ADMINSCRIPT}?m=feed&a=ls" target="main">{lang menu_data_list}</a></li><!--{/if}-->
<!--{if $user['isfounder'] || $user['allowadmincache']}--><li><a href="{UC_ADMINSCRIPT}?m=cache&a=update" target="main">{lang menu_update_cache}</a></li><!--{/if}-->
<!--{if $user['isfounder']}--><li><a href="{UC_ADMINSCRIPT}?m=plugin&a=filecheck" target="main">{lang plugin}</a></li><!--{/if}-->