{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
  <div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun}
  <div class=right_box>
        <div class="newmember_tit">
                <ul> 
                  <li> <a href="index.php?c=record" class=" ">推送简历</a></li>
                  <li class="newmember_titcur"> <a href="index.php?c=finder" class=" ">人才搜索器</a></li>
                     
                </ul>
              </div>
                <div class="clear"></div> 
  
   
 <div class="newmember_screenbox">
   <div class="newmember_screen">
   <div class="com_topbth_box" style="width:115px;">
    <a href="index.php?c=finder&act=edit" class="com_topbth"style="width:80px;">添加搜索器</a>
        </div>
         </div>      </div>
      <div class=admincont_box>
         
        <div class="com_body"> 
         <div class="com_new_tip"> 
          <span class="com_new_tip_h">温馨小提示</span>系统会根据您设置的条件自动搜索你需要的简历{yun:}if $addnew{/yun}
               您可以创建{yun:}$config_com_finder_num {/yun}个简历搜索器
        
        
      {yun:}/if{/yun}</div>
          
        
          <div class="clear"></div>
       

        <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>      
        <table class="com_table">
    <tr>
      <th>职位名称</th>
      <th width="400">搜索条件</th>
      <th>创建时间</th>
      <th>操作</th> 
    </tr>
    {yun:}foreach from=$finder item=flist{/yun} 
        <tr>
          <td><a class="index_Job_Finder_cont_name_a" href="{yun:}$flist.url{/yun}">{yun:}if $flist.name{/yun}{yun:}$flist.name{/yun}{yun:}else{/yun}未命名{yun:}/if{/yun}</a></td>
        <td>{yun:}$flist.findername{/yun} </td>
          <td>{yun:}$flist.addtime|date_format:'%Y-%m-%d %H:%M'{/yun}</td>
            <td width="180" ><a href="index.php?c=finder&act=edit&id={yun:}$flist.id{/yun}"  title="修改" class="com_bth">修改</a> <a  onclick="layer_del('确定要删除？', 'index.php?c=finder&act=del&id={yun:}$flist.id{/yun}');" href="javascript:void(0)"class="com_bth">删除</a>
             <a class="com_bth" title="搜索" target="_blank" href="{yun:}$flist.url{/yun}"><i class="job_search_box_bth_a_icon"></i>搜索</a>  </td>
        </tr>
         
             {yun:}foreachelse{/yun}
       <tr>
        <td colspan="4" >   <div class="msg_no">您还没有创建搜索器。</div></td> 
       </tr>
             
              {yun:}/foreach{/yun}
       <tr>
        <td colspan="4" >  <div class="diggg">{yun:}$pagenav{/yun}</div></td> 
       </tr>
       
          
        </table>
      </div>
    </div>    </div>    
  </div>
  </div>
{yun:}include file="$comstyle/footer.htm"{/yun} 