<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../../../admin/header.js"></script>
    <script src="../../../admin/httpVueLoader.js"></script>
</head>

<body>
<div id="daohaapp" class="moduleElenAl">
    <div class="moduleSeachmore">
        <div class="tableSeackellsd" style="padding: 2px 0; margin-bottom: 8px;">
            <el-input v-model="keyword" placeholder="请输入关键字" size="small" prefix-icon="el-icon-search" clearable>
                <el-select v-model="type" size="small" slot="prepend" placeholder="搜索类型">
                    <el-option label="邮箱" value="1"></el-option>
                    <el-option label="发送人" value="2"></el-option>
                    <el-option label="接收人" value="3"></el-option>
                    <el-option label="发信邮箱" value="4"></el-option>
                </el-select>
            </el-input>
        </div>
        <div class="tableSeachInpt tableSeachInptsmalltwo">
            <el-date-picker v-model="daterange" type="daterange" @change="changedate" range-separator="至"
                            start-placeholder="开始日期" end-placeholder="结束日期" size="samll">
            </el-date-picker>
        </div>
        <div class="tableSeachInpt">
            <el-button type="primary" size="mini" icon="el-icon-search" @click="search">查询</el-button>
        </div>
    </div>
    <div class="moduleElTable">
        <el-table ref="table" :data="tableData" v-loading="list_loading" @selection-change="selectionChange"
                  :default-sort="{prop: 'id', order: 'descending'}"
                  @sort-change="sortChange"
                  border style="width: 100%" :header-cell-style="{background:'#f5f7fa',color:'#606266'}"
                  height="100%" :empty-text="emptytext">
            <el-table-column type="selection" width="55">
            </el-table-column>
            <el-table-column prop="id" label="  编号" width="80" sortable="custom">
            </el-table-column>
            <el-table-column prop="email" label="邮箱">
            </el-table-column>

            <el-table-column prop="fname" label="发送人">
            </el-table-column>
            <el-table-column prop="sname" label="接收人">
            </el-table-column>
            <el-table-column prop="title" label="标题">
            </el-table-column>
            <el-table-column prop="ctime_n" label="时间" sortable="custom">
            </el-table-column>
            <el-table-column label="状态">
                <template slot-scope="scope">
                    <span v-if="scope.row.state==1" class="admin_state1">成功</span>
                    <span v-else class="admin_state3">失败</span>

                </template>
            </el-table-column>

            <el-table-column label="操作" width="80" fixed="right" header-align="center">
                <template slot-scope="scope">
                    <div class="cz_button">

                        <el-button type="danger" size=" " @click="deleteinfo(scope.row.id)">删除</el-button>
                    </div>

                </template>
            </el-table-column>

        </el-table>
    </div>
    <div class="modulePaging">
        <div class="modulecz">
            <el-checkbox v-model="allchecked" @change="allcheckChange">全选</el-checkbox>
            <el-button size="mini" @click="deleteAll">批量删除</el-button>
            <el-button size="mini" @click="repeatSend">失败重发</el-button>
        </div>
        <div class="modulePagNum">
            <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           :current-page="currentPage" :page-size="page_size" :page-sizes="page_sizes" :total="total"
                           layout="total, sizes, prev, pager, next, jumper">
            </el-pagination>
        </div>
    </div>
</div>
<!-- script -->
<script>
    const custoapp = new Vue({
        el: '#daohaapp',
        data: function () {
            return {
                emptytext: '暂无数据',
                type: '1',
                keyword: '',
                time: '',
                state: '',

                tableData: [],
                total: 0,
                limit: '',
                page_size: 0,
                sort_t: '',
                order: '',
                currentPage: 1,
				prevPage:0,
                page_sizes: [],

                list_loading: false,
                daterange: [],

                allchecked: false,
                choosedata: [],

            }
        },
        created: function () {
            this.getList();
        },
        methods: {
            async getList() {
                let that = this;
                let params = {
                    page: that.currentPage,
                    limit: that.limit,
                    t: that.sort_t,
                    order: that.order,
                    type: that.type,
                    keyword: that.keyword
                }
                if (this.daterange && this.daterange.length > 0) {

                    params['date1'] = this.daterange[0].getTime() / 1000;
                    params['date2'] = this.daterange[1].getTime() / 1000;
                }
                this.list_loading = true;
                that.emptytext = "数据加载中";
                httpPost('m=tool&c=emaillog&a=index', params, {hideloading: true}).then((result) => {
                    this.list_loading = false;
                    var res = result.data
                    if (res.error == 0) {
                        that.tableData = res.data.list;
                        that.total = parseInt(res.data.total);
                        that.page_sizes = res.data.page_sizes;
                        that.page_size = res.data.page_size;
						
						if(that.prevPage != that.currentPage){
							that.prevPage = that.currentPage;
							that.$refs.table.bodyWrapper.scrollTop = 0;
						}
                        if (that.tableData.length === 0) {
                            that.emptytext = "暂无数据";
                        }
                    }
                }).catch(function (e) {
                    console.log(e)
                })
            },
            search: function () {
                this.currentPage = 1;
                this.getList();
            },
            sortChange: function (e) {
                this.sort_t = e.prop;
                if (e.prop == 'ctime_n') {
                    this.sort_t = 'ctime';
                }
                this.order = e.order == 'ascending' ? 'asc' : 'desc';
                this.search();
            },
            changedate: function (e) {
                if (e !== null) {
                    this.time = '';
                }
            },
            dateSelectChange: function (e) {
                if (e != '') {
                    this.daterange = [];
                }
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.getList()
            },
            handleSizeChange(val) {
                this.currentPage = 1
                this.limit = val
                this.getList()
            },
            allcheckChange: function () {

                this.$refs.table.toggleAllSelection();

            },
            selectionChange: function (e) {
                if (this.tableData.length != e.length) {
                    this.allchecked = false;
                } else {
                    this.allchecked = true;
                }
                this.choosedata = e;
            },
            deleteinfo: function (id) {
                var _this = this;

                var params = {
                    del: id
                };
                delConfirm(_this, params, this.deletePost)
            },
            deleteAll: function () {
                var _this = this;
                var idarr = [];
                if (this.choosedata.length > 0) {
                    for (let i in this.choosedata) {
                        idarr.push(this.choosedata[i].id);
                    }
                } else {
                    message.error('请选择要删除的数据');
                    return;
                }
                var params = {
                    del: idarr
                };

                delConfirm(_this, params, this.deletePost)
            },
            repeatSend: function () {
                var _this = this;
                var idarr = [];
                if (this.choosedata.length > 0) {
                    for (let i in this.choosedata) {
                        idarr.push(this.choosedata[i].id);
                    }
                } else {
                    message.error('请选择要重发的邮件');
                    return;
                }
                var params = {
                    id: idarr
                };
                delConfirm(_this, params, _this.repeatSendPost, '确定重新发送邮件吗？')
            },
            async repeatSendPost(params) {
                let that = this;
                httpPost('m=tool&c=emaillog&a=repeat', params).then(function (result) {
                    var res = result.data;
                    if (res.error == 0) {
                        message.success(res.msg, function () {
                            that.getList();
                        });
                        return;
                    } else {
                        message.error(res.msg);
                        return;
                    }
                }).catch(function (e) {
                    console.log(e)
                })
            },
            async deletePost(params) {
                let that = this;
                httpPost('m=tool&c=emaillog&a=del', params).then(function (result) {
                    var res = result.data;
                    if (res.error == 0) {
                        message.success(res.msg, function () {
                            that.getList();
                        });
                        return;
                    } else {
                        message.error(res.msg);
                        return;
                    }
                }).catch(function (e) {
                    console.log(e)
                })
            },
        }
    });
</script>
</body>

</html>