<div id="searchhtml" class="none">
    <template v-if="!classShow">
        <!-- 头部 -->
        <div class="wap_search_header">
            <div class="wap_search_header_c">
                <div class="wap_search_headerqx" onclick="searchhtmlhide()"></div>
                <form method="get" action="{yun:}$config_wapdomain{/yun}/index.php">
                    <input type="hidden" id="type" name="c" value="job" />
                    <div class="wap_search_text">
                        <input type="text" value="{yun:}$smarty.get.keyword{/yun}" onkeyup="this.value = this.value.replace(/[,]/g,'');" id="input_search" name="keyword" class="search_input" placeholder="请输入{yun:}if $smarty.get.c=='job' || !$smarty.get.c{/yun}职位名/公司名{yun:}elseif $smarty.get.c=='resume'{/yun}关键字{yun:}/if{/yun}">
                        <div class="wap_search_hbth"><input type="submit" value="搜索" class="searchbtn_input" style="background: #2778f8;border-radius: 16px;"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="scrollDomens">
            <div class="Search_jobs_body" v-if="historyShow">
                <div class="search_history_tit">
                    <span class=" ">历史搜索</span>
                    <img src="{yun:}$wap_style{/yun}/images/search_del.png" alt="" width="14" height="14" @click="clearHis">
                </div>
                <div  class="search_history_tag_box">
                    <div v-for="(item,hisK) in historyList" :key="hisK" class="search_history_tag"><a @click="toPage('index.php?c=job&keyword='+item.key_name);">{{item.key_name}}</a></div>
                </div>
            </div>
            <van-tabs v-model="active" scrollspy sticky>
                <van-tab title="">
                    <div slot="title">
                        <div class="scrollVatNav">
                            <div>
                                <img class="imgOne" src="{yun:}$wap_style{/yun}/images/search_left_item1.png" alt="">
                                <img class="imgTwo" src="{yun:}$wap_style{/yun}/images/search_left_item1_a.png" alt="">
                                <span>选岗位</span>
                            </div>
                        </div>
                    </div>
                    <div class="search_scroll_right_item" style="padding-top: 0.32rem;">
                        <div class="xgw_itemtwobox">
                            <template v-for="(j_id, jk) in jobIndexArr" :key="jk">
                                <div class="xgw_itemtwo" v-if="jk<3" @click="toPage('index.php?c=job&job1='+j_id)">{{jobNameArr[j_id]}}</div>
                            </template>
                        </div>
                        <div class="xgw_btn" @click="setClassShow('job');">
                            全部岗位分类
                            <img src="{yun:}$wap_style{/yun}/images/xgw_btnright.png" alt="" width="12" height="12" style="margin-left: 4px;">
                        </div>
                    </div>
                </van-tab>
                <van-tab title="">
                    <div slot="title">
                        <div class="scrollVatNav">
                            <div>
                                <img class="imgOne" src="{yun:}$wap_style{/yun}/images/search_left_item2.png" alt="">
                                <img class="imgTwo" src="{yun:}$wap_style{/yun}/images/search_left_item2_a.png" alt="">
                                <span>选地点</span>
                            </div>
                        </div>
                    </div>
                    <div class="search_scroll_right_item">
                        <div class="search_scroll_right_item_tit">找附近的工作</div>
                        <div class="xdd_itembox">
                            <div class="xdd_item" @click="toPage('index.php?c=job&mapjob=1')">
                                <img src="{yun:}$wap_style{/yun}/images/xdd_item1.png" alt="" width="50" height="50">
                                <div class="xdd_item_right">
                                    <div class="xdd_item_right_name">附近的工作</div>
                                    <div class="xdd_item_right_tip">根据你的位置推荐工作</div>
                                </div>
                            </div>
                            <div class="xdd_item" @click="setClassShow('city');">
                                <img src="{yun:}$wap_style{/yun}/images/xdd_item2.png" alt="" width="50" height="50">
                                <div class="xdd_item_right">
                                    <div class="xdd_item_right_name">指定地点的工作</div>
                                    <div class="xdd_item_right_tip">找特点区域的工作</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </van-tab>
                <van-tab title="">
                    <div slot="title">
                        <div class="scrollVatNav">
                            <div>
                                <img class="imgOne" src="{yun:}$wap_style{/yun}/images/search_left_item3.png" alt="">
                                <img class="imgTwo" src="{yun:}$wap_style{/yun}/images/search_left_item3_a.png" alt="">
                                <span>选福利</span>
                            </div>
                        </div>
                    </div>
                    <div class="search_scroll_right_item">
                        <div class="search_scroll_right_item_tit">选福利好的工作</div>
                        <div class="xfl_itembox">
                            <template v-for="(wel, wek) in comData.job_welfare" :key="wek">
                                <div class="xfl_item" @click="toPage('index.php?c=job&welfare='+wel);">
                                    <div class="xfl_tit">{{comClassName[wel]}}</div>
                                    <img src="{yun:}$wap_style{/yun}/images/xfl_right.png" alt="" width="12" height="12">
                                </div>
                            </template>
                        </div>
                    </div>
                </van-tab>
                <van-tab title="">
                    <div slot="title">
                        <div class="scrollVatNav">
                            <div>
                                <img class="imgOne" src="{yun:}$wap_style{/yun}/images/search_left_item4.png" alt="">
                                <img class="imgTwo" src="{yun:}$wap_style{/yun}/images/search_left_item4_a.png" alt="">
                                <span>查薪资</span>
                            </div>
                        </div>
                    </div>
                    <div class="search_scroll_right_item">
                        <div class="kxz_contbox">
                            <div class="kxz_cont">
                                <div class="kxz_itembox_top">
                                    <div class="kxz_itembox_top_one">发现新机会</div>
                                    <div class="kxz_itembox_top_two">根据你的条件，快速匹配工作</div>
                                </div>
                                <div class="search_scroll_right_item_tit">看薪资</div>
                                <div class="kxz_itembox">
                                    <template v-for="(salV, salK) in salaryArr" :key="salK">
                                        <div class="kxz_item" :class="salary==salV.min ? 'kxz_item_active' : ''" @click="salary=salV.min">{{salV.name}}</div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </van-tab>
                <van-tab title="">
                    <div slot="title">
                        <div class="scrollVatNav">
                            <div>
                                <img class="imgOne" src="{yun:}$wap_style{/yun}/images/search_left_item5.png" alt="">
                                <img class="imgTwo" src="{yun:}$wap_style{/yun}/images/search_left_item5_a.png" alt="">
                                <span>学历</span>
                            </div>
                        </div>
                    </div>
                    <div class="search_scroll_right_item">
                        <div class="kxz_cont">
                            <div class="search_scroll_right_item_tit">看学历</div>
                            <div class="kxz_itembox">
                                <template v-for="(eduV, eduK) in comData.job_edu" :key="eduK">
                                    <div class="kxz_item" :class="edu==eduV ? 'kxz_item_active' : ''" @click="edu=eduV">{{comClassName[eduV]}}</div>
                                </template>
                            </div>
                        </div>
                    </div>
                </van-tab>
                <van-tab title="">
                    <div slot="title">
                        <div class="scrollVatNav">
                            <div>
                                <img class="imgOne" src="{yun:}$wap_style{/yun}/images/search_left_item6.png" alt="">
                                <img class="imgTwo" src="{yun:}$wap_style{/yun}/images/search_left_item6_a.png" alt="">
                                <span>经验</span>
                            </div>
                        </div>
                    </div>
                    <div class="search_scroll_right_item">
                        <div class="kxz_cont">
                            <div class="search_scroll_right_item_tit">看经验</div>
                            <div class="kxz_itembox">
                                <template v-for="(expV, expK) in comData.job_exp" :key="expK">
                                    <div class="kxz_item" :class="exp==expV ? 'kxz_item_active' : ''" @click="exp=expV">{{comClassName[expV]}}</div>
                                </template>
                            </div>
                        </div>
                    </div>
                </van-tab>
                <van-tab title="">
                    <div slot="title">
                        <div class="scrollVatNav">
                            <div>
                                <img class="imgOne" src="{yun:}$wap_style{/yun}/images/search_left_item7.png" alt="">
                                <img class="imgTwo" src="{yun:}$wap_style{/yun}/images/search_left_item7_a.png" alt="">
                                <span>更多</span>
                            </div>
                        </div>
                    </div>
                    <div class="search_scroll_right_item">
                        <div class="kxz_cont">
                            <div class="search_scroll_right_item_tit">企业类型</div>
                            <div class="kxz_itembox">
                                <template v-for="(prV, prK) in comData.job_pr" :key="prK">
                                    <div class="kxz_item" :class="pr==prV ? 'kxz_item_active' : ''" @click="pr=prV">{{comClassName[prV]}}</div>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div class="search_scroll_right_item">
                        <div class="kxz_cont">
                            <div class="search_scroll_right_item_tit">企业规模</div>
                            <div class="kxz_itembox">
                                <template v-for="(munV, munK) in comData.job_mun" :key="munK">
                                    <div class="kxz_item" :class="mun==munV ? 'kxz_item_active' : ''" @click="mun=munV">{{comClassName[munV]}}</div>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div class="search_scroll_right_item" style="padding-bottom: 2rem;">
                        <div class="kxz_cont">
                            <div class="search_scroll_right_item_tit">更新时间</div>
                            <div class="kxz_itembox">
                                <template v-for="(upV, upK) in upTime" :key="upK">
                                    <div class="kxz_item" :class="uptime==upK ? 'kxz_item_active' : ''" @click="uptime=upK">{{upV}}</div>
                                </template>
                            </div>

                        </div>
                    </div>
                    <div class="search_tj_btn" id="scrollBtn" @click="searchJob">提交</div>
                </van-tab>
            </van-tabs>
        </div>
    </template>
    {yun:}include file="$wapstyle/publichtm/search_class.htm"{/yun}
</div>
<script src="{yun:}$plusstyle{/yun}/city.cache.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$plusstyle{/yun}/cityparent.cache.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$plusstyle{/yun}/job.cache.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$plusstyle{/yun}/jobparent.cache.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script>
    var searchVue = new Vue({
        el: '#searchhtml',
        data() {
            return {
                historyShow: false,
                historyList: [],
                active: 0,
                jobIndexArr: ji,
                jobNameArr: jn,
                jobTypeArr: jt,
                jobParentArr: job_parent,
                job1: 0,
                job1_son: 0,
                job_post: 0,

                cityIndexArr: ci,
                cityNameArr: cn,
                cityTypeArr: ct,
                cityParentArr: city_parent,
                provinceid: 0,
                cityid: 0,
                three_cityid: 0,


                comData: [],
                comClassName: [],
                upTime: [],
                salaryArr: [],
                exp: '',
                edu: '',
                salary: '',
                pr: '',
                mun: '',
                uptime: '',
                welfare: '',
                classShow: false,

                category: '',

                searchClassVal: '',
                searchClassShow: false,
                searchClassList: []
            };
        },
        methods: {
            getComData: function() {
                let that = this;
                let paramer = {
                    refer: 'job_search'
                }
                $.post(wapurl + "index.php?c=search&a=getComData", paramer, function(data) {
                    that.comData = data.comData;
                    that.comClassName = data.comClassName;
                    that.upTime = data.upTime;
                    that.salaryArr = data.salaryArr;
                }, 'json');
            },
            getHistory: function() {
                let that = this;
                let paramer = {
                    type: 'job',
                    limit: 8
                }
                $.post(wapurl + "index.php?c=search&a=history", paramer, function(data) {
                    if (data.list.length > 0) {
                        that.historyList = data.list;
                        that.historyShow = true;
                    } else {
                        that.historyList = [];
                        that.historyShow = false;
                    }
                }, 'json');
            },
            clearHis: function() {
                let that = this;
                $.post("index.php?c=search&a=del", { type: 3 }, function(data) {
                    if (data) {
                        showToast("历史搜索已清除！", 2);
                        that.historyList = [];
                        that.historyShow = false;
                    } else {
                        showToast("操作失败！");
                        return false;
                    }
                });
            },
            toPage: function(url) {
                location.href = url;
            },
            searchJob: function() {
                var that = this;
                location.href = 'index.php?c=job&minsalary=' + that.salary + '&exp=' + that.exp + '&edu=' + that.edu + '&pr=' + that.pr + '&mun=' + that.mun + '&uptime=' + that.uptime + '&welfare=' + that.welfare;
            },
            setClassShow: function(type) {
                let that = this;
                that.category = type;
                if (type == 'job') {
                    that.job1 = that.jobIndexArr[0];
                } else if (type == 'city') {
                    that.provinceid = that.cityIndexArr[0];
                }
                that.classShow = true;
            },
            bindSearch: function(e) {
                var that = this;
                that.searchClassVal = e.target.value;
                debounce(this.searchClass(that.searchClassVal));
            },
            searchClass: function() {
                var that = this;
                if (that.searchClassVal == '') {
                    that.searchClassShow = false
                } else {
                    var fsn = {},
                        fst = {},
                        fsPar = {},
                        fsTwo = [],
                        fsThr = [],
                        thisClass = [],
                        fsArr = [];

                    if (that.category == 'job') {

                        fsn = that.jobNameArr;
                        fsPar = that.jobParentArr;
                    } else if (that.category == 'city') {

                        fsn = that.cityNameArr;
                        fsPar = that.cityParentArr;
                    }

                    var fsnKeyArr = Object.keys(fsn);
                    if (fsnKeyArr.length > 0) {
                        var inputv = that.searchClassVal.toLowerCase(),
                            itemv = '';

                        for (let key in fsn) {
                            itemv = fsn[key].toLowerCase();
                            if (itemv.indexOf(inputv) != -1) {
                                thisClass.push(key);
                            }
                        }
                    }

                    if (thisClass.length > 0) {
                        for (var i = 0; i < thisClass.length; i++) {
                            var t = thisClass[i];
                            for (var lev = 1; fsPar[t] > 0; t = fsPar[t]) {
                                lev++;
                            }
                            if (lev == 2) {
                                fsTwo.push(thisClass[i]);
                            } else {
                                fsThr.push(thisClass[i]);
                            }
                        }
                        if (fsTwo.length > 0) {
                            for (var m = 0; m < fsTwo.length; m++) {
                                fsArr.push({
                                    "name": fsn[fsTwo[m]],
                                    "two": fsTwo[m],
                                    "one": fsPar[fsTwo[m]],
                                    "fname": fsn[fsPar[fsTwo[m]]]
                                });
                            }
                        }

                        if (fsThr.length > 0) {
                            for (var t = 0; t < fsThr.length; t++) {
                                fsArr.push({
                                    "name": fsn[fsThr[t]],
                                    "value": fsThr[t],
                                    "one": fsPar[fsPar[fsThr[t]]],
                                    "two": fsPar[fsThr[t]],
                                    "fname": fsn[fsPar[fsThr[t]]]
                                });
                            }
                        }
                    }
                    if (fsArr.length > 0) {
                        this.searchClassList = fsArr;
                        this.searchClassShow = true;
                    }
                }
            },
            clearSearch: function() {
                var that = this;
                that.searchClassVal = '';
                that.searchClassShow = false;
            },
            checkClassOne: function(value) {
                var that = this;
                if (that.category == 'job') {
                    that.job1 = value;
                } else if (that.category == 'city') {
                    that.provinceid = value;
                }
            },
            setSearchJobClass: function(one, two, three) {
                var that = this;
                if (that.category == 'job') {

                    that.job1 = one ? one : '';
                    that.job1_son = two ? two : '';
                    that.job_post = three ? three : '';

                    location.href = 'index.php?c=job&job1=' + that.job1 + '&job1_son=' + that.job1_son + '&job_post=' + that.job_post;
                } else if (that.category == 'city') {

                    that.provinceid = one ? one : '';
                    that.cityid = two ? two : '';
                    that.three_cityid = three ? three : '';

                    location.href = 'index.php?c=job&provinceid=' + that.provinceid + '&cityid=' + that.cityid + '&three_cityid=' + that.three_cityid;
                }
            }
        }
    });

    function searchhtmlhide() {
        $("#searchhtml").addClass('none');
        $("#app").removeClass('none');
    }
    $(document).ready(function() {
        $(".searchnew").on('click', function() {
            $("#app").addClass('none');
            $("#searchhtml").removeClass('none');
            searchVue.getHistory();
            searchVue.getComData();
        })
    });



    const targetElement = document.getElementById('scrollBtn'); // 目标元素
    const targetDistance = 850; // 目标距离，滚动超过此距离将显示目标元素

    window.addEventListener('scroll', function() {
        const scrollDistance = window.pageYOffset || document.documentElement.scrollTop;
        if (scrollDistance > targetDistance) {
            targetElement.classList.remove('btnhidden');
        } else {
            targetElement.classList.add('btnhidden');
        }
    });

</script>